@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/default";

body {
  font-family: "Space Grotesk", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}
