.dialog-card {
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  margin: 0;

  .monto-pagar {
    text-align: center;
    color: var(--color-primary-500);
    font-weight: 800;
  }

  .banco-info {
    background: var(--color-basic-200);
    padding: 1.5rem;
    border-radius: 8px;

    ul {
      list-style: none;
      padding: 0;
      margin-top: 10px;

      li {
        margin-bottom: 8px;
        color: var(--text-basic-color);
      }
    }
  }

  .upload-section {
    label {
      font-weight: 600;
      display: block;
      margin-bottom: 10px;
    }
    input[type="file"] {
      padding: 10px;
      border: 1px dashed var(--color-primary-400);
      background: rgba(var(--color-primary-100-rgb), 0.2);
    }
    .file-name {
      margin-top: 10px;
      color: var(--color-success-500);
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .gap-3 {
    gap: 1rem;
  }
}
